<body>
    <form style="width:300px;padding: 30px;margin-left: 430px;"
    novalidate [formGroup]="adminLoginForm" (ngSubmit)="adminLogin()" style="width:300px;padding: 30px;margin-left: 430px;">
        
       <!--  <div class="avatar">
            <img src="assets/avatar.svg">
        </div><br/> -->
        <fieldset>
            <div class="form-group">
                <i class="fas fa-user"></i>&nbsp;
                <label>*Admin Id:</label> 
                <input type="text" class="form-control" formControlName="adminId">
            
            <div class="alert alert-danger"
            *ngIf="adminLoginForm.get('adminId').hasError('required') && adminLoginForm.get('adminId').dirty">
           Admin Id is required!
        </div>
            </div>
            <div class="form-group">
                <i class="fas fa-lock"></i>&nbsp;
                <label>*Password:</label>
                <input type="password" class="form-control" formControlName="adminPassword">
                <div class="alert alert-danger"
                *ngIf="adminLoginForm.get('adminPassword').hasError('required') && adminLoginForm.get('adminPassword').dirty">
                Admin Password is required!
            </div>
            </div>
        </fieldset>
        <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button type="submit" class="btn btn-success">Login</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button type="reset" class="btn btn-primary">Reset</button>
        <br><br>
        
    </form>
    </body>