<body>
   
   <ul>
     <li><a href=""><button class="btn btn-dark">Home</button>&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
     <li><a><button class="btn btn-dark" (click)="viewAdminProfile()">My Profile</button>&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
     <li><a href="viewusers"><button class="btn btn-dark">View Users</button>&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
     <li><a href="viewbooks"><button class="btn btn-dark">View Books</button>&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
     <li><a href="addbooks"><button class="btn btn-dark">Add Book</button></a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
     <li><a href="viewrequest"><button class="btn btn-dark">View Request</button></a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
     <li><a href="viewissuedbooks"><button class="btn btn-dark">View Issued Details</button></a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
     <li><a href="adminlogin"><button class="btn btn-dark">Logout</button></a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
   
   </ul>
   </body>
