<body>
    <div>
       
        <h5 align="center">
            <table  align="center">

           <tr>
            <th>Book Id </th><td>:</td>
            <td>{{book.bookId}}</td>
        </tr>
        <tr>
            <th>ISBN </th><td>:</td>
            <td>{{book.isbn}}</td>
        </tr>
        <tr>
            <th> Book Name </th><td>:</td>
            <td>{{book.bookName}}</td>
        </tr>
        <tr>
            <th>Author Name </th><td>:</td>
            <td>{{book.authorName}}</td>
        </tr>
        <tr>
            <th>Book Genre </th><td>:</td>
            <td>{{book.genre}}</td>
        </tr>
      
        <tr>
            <th>Publisher </th><td>:</td>
            <td>{{book.publisher}}</td>
        </tr>
       
     

           <tr>
            <th>User Id </th><td>:</td>
            <td>{{user.userId}}</td>
        </tr>
        <tr>
            <th> First Name </th><td>:</td>
            <td>{{user.firstName}}</td>
        </tr>
        <tr>
            <th>Last Name </th><td>:</td>
            <td>{{user.lastName}}</td>
        </tr>
        <tr>
            <th>User Role </th><td>:</td>
            <td>{{user.userRole}}</td>
        </tr>
        <tr>
            <th>User MailId </th><td>:</td>
            <td>{{user.mailId}}</td>
        </tr>
        
        <tr>
            <th>Mobile Number </th><td>:</td>
            <td>{{user.mobileNumber}}</td>
        </tr>
     
        <tr>
            <th>Number Of Days </th><td>:</td>
            <td>{{this.numberOfDays}}</td>
        </tr>
        </table></h5>
    </div>
<br><br><br>
<form novalidate style="margin-left: 500px;width: 250px;" [formGroup]="issueForm" (ngSubmit)="addIssueBook()">

    <div class="form-group">
        <label>*Issue Date :</label>
        <input type="date" class="form-control" formControlName="issueDate">
        <div class="alert alert-danger"
        *ngIf="issueForm.get('issueDate').hasError('required') && issueForm.get('issueDate').dirty">
       Issue Date is required
    </div>
      </div> 
      <div class="form-group">
        <label>*Due Date :</label>
        <input type="date" class="form-control" formControlName="dueDate">
        <div class="alert alert-danger"
        *ngIf="issueForm.get('dueDate').hasError('required') && issueForm.get('dueDate').dirty">
       Due Date is required
    </div>
      </div>
      <div>
        <h4><font color=red style="font-size: large;">{{errorMessage }}</font></h4><br>
    </div>

<br>

    <button type="submit"  class="btn btn-primary" >Issue Book</button>&nbsp;&nbsp;
    <button class="btn btn-success" type="reset">Reset</button>&nbsp;&nbsp;
    <br><br><br>
     <button  class="btn btn-danger" (click)="return()">Back</button>
    </form>
<br><br>

 </body>
