<body>
   
    <ul>
      <li><a href=""><button class="btn btn-dark">Home</button>&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
      <li><a><button class="btn btn-dark" (click)="view()">View Profile</button>&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
      <li><a><button class="btn btn-dark" (click)="viewBooks()">View Books</button>&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
      <li><a><button class="btn btn-dark" (click)="searchBooks()">Search Books</button></a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
      <li><a><button class="btn btn-dark" (click)="renewBook()">Renew Book</button>&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
      <li><a><button class="btn btn-dark" (click)="returnBook()">Return Book</button></a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
      <li><a><button class="btn btn-dark" (click)="viewIssueDetails()">View Issue Details</button></a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
      <li><a href="userlogin"><button class="btn btn-dark">Logout</button></a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
      
    </ul>
    </body>
